@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap');

.info {
    min-width: 620px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid black;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    border-color: black;
    background: black;
    /* background: rgba(255, 255, 255, 0.4); */
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

.info.showInfo {
    opacity: 1;
    pointer-events: auto;
}


.info.show {
    animation: show_slide 1s ease forwards;
    
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.info.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}

/* bearbeitet die Größe des Schließbuttons + Position*/
.info .fa-times-circle {
    position: absolute;
    transform: translateY(20%);
    color: white;
    font-size: 27px;
}

/* Position des Buttons */
.info .close-info {
    position: relative;
    transform: translateY(-30%);
    cursor: pointer;
}

/* bearbeitet den Inhalt in der Box */
.info .content {
    padding: 5% 4px 5% 5%;
    max-width: 800px;
    min-height: 600px;
}

.close-info .fa-times-circle:hover  {
    cursor: pointer;
    color: rgb(139, 134, 134);
}

#firstHeading, .info h1 {
    color: white;
    margin: 0 0 10px;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}

.bodyContent{
    color:lightgrey;
    font-weight: 100;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
}
