#map {
    height: 700px;
    width: 95%;
    margin: auto;
    border-color: black;
    border: currentColor 5px solid;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25); /*letzer Wert beschreibt, ab wann die staubwolke beginnt*/
    transition: 300ms;
}
