@media only screen and (max-width: 600px) {
  h1 {
    color: red;
  }

  #map  {
    width: 100%;
    max-height: 350px;
  }

  .alert {
    min-width: 90%;
  }

  .info {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 1000000000;
  }

  .info.show {
    animation: mediaShowInfo 1s ease forwards;
  }

  @keyframes mediaShowInfo {
    0% {
      transform: translateX(100%);
    }

    40% {
      transform: translateX(-10%);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .info.hide {
    animation: mediaHideInfo 1s ease forwards;
  }

  @keyframes mediaHideInfo {
    40% {
      transform: translateY(-10%);
    }

    100% {
      transform: translateY(200%);
    }
  }

  .info .fa-times-circle {
    font-size: 25px;
  }

  .info .content {
    font-size: 12px
  }

}

/* Sobald das Fenster die Breite 1160 erreicht, verschiebt die Suchleiste nach unten*/