* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: 'Arial', sans-serif;
}

/* Alle Elemente in der Webseite, da es mit body-Tag nicht funktioniert */
.wrapper {
	overflow: hidden;
	position: relative;
}

/* Inhalte, die immer sichtbar sind (also, notification und infoWindow) werden ausgelassen */
.container {
    width: 95%;
    margin: auto;
	background-color: white;
}

/* Blurrt den Hintergrund, wenn das infoWindow erscheint */
.container#blur.active {
	filter: blur(13px);
	pointer-events: none;
	user-select: none;
	transition: 0.5s;
}

/* Überschrift: 'Willkommen auf unserer Supply-Chain-Map' */
.header_1 {
	background: white;
	text-align: center;
	padding-top: 10px;
	font-family: 'Poppins', sans-serif;
}

/* Überschrift: 'Standortsuche' */
.header_2 {
	padding: 1rem;
	color: black;
	font-family: 'Poppins', sans-serif;
	
}
