* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
    width: 95%;
    margin: auto;
	background-color: white;
}

/* Ueberschriften Klassen */
.header_1 {
	background: white;
	text-align: center;
	padding-top: 10px;
	font-family: 'Poppins', sans-serif;
}

.header_2 {
	padding: 1rem;
	color: black;
	font-family: 'Poppins', sans-serif;
	
}

.input {
	margin: 0.8rem;
}

/* Komplette Seachbar  */
.uebersicht {
	padding: 1rem;
	margin: 1rem;
	text-align: left;
	float: left;
}

/*  searchbar alleine */
.searchbar {
	border-radius: 0.5rem;
	border-color: black;
	width: 20rem;
	height: 2rem;
	padding-left: 1rem;
	margin-left: 0.5rem;
}

/* Checkboxen und Text */
.label {
	color: black;
	font-family: 'Arial', Courier, monospace;
	text-shadow: 0 1px 100px rgb(105, 102, 102); /*x-Verschiebung, y-Verschiebung  deutlichkeit des Schatten*/
}

/*Wenn man drüber geht, ändert sich der Cursor so wie die Farbe des Textes*/
.label:hover {
	cursor: pointer;
	text-shadow: greenyellow;
	color:grey; /*? Hier kann man noch über die Farbe diskutieren; wir haben es auf die Farben geändert*/
    transition: .3s;
}

.div_check {
	padding: 0.5rem;
	display: inline-block;
	cursor: pointer;
}

/* Checkboxen-Bearbeitung */
input[type="checkbox"] {
	position: relative;
	width: 24px;
	height: 10px;
	-webkit-appearance: none;
	background-color: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	transition: .5s;
	cursor: pointer;
}

/* Sobald es gedrückt wird, erscheint es blau, hab die Farbe auf die selbe wie bei der Searchbar gemacht, jetzt schwarz */
input:checked[type ="checkbox"] {
	background: black;
}

input[type="checkbox"]:after {
	content: ""; /*Fügt den Kreis hinzu*/
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 30px;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1.4); /*Macht den Kreis größer*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /*Schatten*/
	transition: 0.5s; /*Movement einstellen*/
}

/*Stellt die Position des Kreises ein, sobald er gedrückt wird*/
input:checked[type = "checkbox"]:after {
	left: 14px;
}

#map {
	height: 700px;
	width: 95%;
	margin: auto;
	border-color: black;
}


input[type="text"]:checked {
    background-color: #f5f5f5;
}

/*Hier  beginnt die Searchbar*/
body{
	background: white;
	font-family: 'Arial', sans-serif;
}

#wrapper {
	overflow-x: hidden;
	position: relative;
}
  
.search {
	width: 100%;
	position: relative;
	display: flex;
	transition: 300ms;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.search:hover {
	box-shadow: 0px 5px 30px rgba(0, 0, 0, .25);
	transform: scale(1.1);
	z-index: 1;
}

.searchTerm:current {
	transform: scale(1.1);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');
  
.searchTerm {
	width: 160%;
	height: 40px;
	border: 3px solid black;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: black;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
  
.searchButton {
	width: 60px;
	height: 40px;
	border: 3px solid black;
	background: black;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}


