* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ueberschriften Klassen */
.header_1 {
    background: grey;
    text-align: center;
    padding-top: 10px;
}

.header_2 {
    padding: 1rem;
    color: black;
}

.input {
    margin: 0.8rem;
}


/* Komplette Seachbar  */
.uebersicht {
    padding: 1rem;
    margin: 1rem;
    
    text-align: left;
    float: left;
}

/*  searchbar alleine */
.searchbar {
    border-radius: 0.5rem;
    border-color: black;
    width: 20rem;
    height: 2rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    
}

/* Search button */
.button {
    padding: 0.5rem;
    margin: 0.5rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
    height: 2rem;
    display: inline-block;
    margin-top: 0;
    width: 5rem;
}

/* Checkboxen und Text */
.label {
    color: black;
}

.div_check {
    padding: 0.5rem;
    display: inline-block;
    
}
    
footer{
    
}


/* Set the size of the div element that contains the map */
      #map {
        height: 300px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
