* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
    width: 95%;
    margin: auto;
}

/* Ueberschriften Klassen */
.header_1 {
	background: grey;
	text-align: center;
	padding-top: 10px;
}

.header_2 {
	padding: 1rem;
	color: black;
}

.input {
	margin: 0.8rem;
}

/* Komplette Seachbar  */
.uebersicht {
	padding: 1rem;
	margin: 1rem;

	text-align: left;
	float: left;
}

/*  searchbar alleine */
.searchbar {
	border-radius: 0.5rem;
	border-color: black;
	width: 20rem;
	height: 2rem;
	padding-left: 1rem;
	margin-left: 0.5rem;
}

/* Search button */
.button {
	/* padding: 0.5rem; */
	margin: 0.5rem;
	background: white;
	color: black;
	border: black;
	border-radius: 0.8rem;
	height: 2rem;
	display: inline-block;
	margin-top: 0;
	width: 5rem;
	cursor: pointer;
	box-shadow: inset 0 0 7px rgb(59, 58, 58);
    opacity: 0.9;
}

.button:hover {
    box-shadow: 0 1px  20px rgb(116, 114, 114);
    border: 2px solid rgb(105, 102, 102);
    opacity: 1.0;
    transition: 0.3s;
}

/* Checkboxen und Text */
.label {
	color: black;
	font-style: italic;
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 0 1px 4px rgb(105, 102, 102); /*x-Verschiebung, y-Verschiebung  deutlichkeit des Schatten*/
}

/*Wenn man drüber geht, ändert sich der Cursor so wie die Farbe des Textes*/
.label:hover {
	cursor: pointer;
	text-shadow: 0 1px 4px rgb(224, 21, 21);;
	color: rgb(224, 21, 21); /*? Hier kann man noch über die Farbe diskutieren*/
    transition: .3s;
}

.div_check {
	padding: 0.5rem;
	display: inline-block;
	cursor: pointer;
}

/* Checkboxen-Bearbeitung */
input[type="checkbox"] {
	position: relative;
	width: 24px;
	height: 10px;
	-webkit-appearance: none;
	background-color: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	transition: .5s;
	cursor: pointer;
}

/* Sobald es gedrückt wird, erscheint es blau */
input:checked[type ="checkbox"] {
	background: #03a9fe;
}

input[type="checkbox"]:after {
	content: ""; /*Fügt den Kreis hinzu*/
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 30px;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1.4); /*Macht den Kreis größer*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /*Schatten*/
	transition: 0.5s; /*Movement einstellen*/
}

/*Stellt die Position des Kreises ein, sobald er gedrückt wird*/
input:checked[type = "checkbox"]:after {
	left: 14px;
}

#map {
	height: 300px;
	width: 95%;
	margin: auto;
}


input[type="text"]:checked {
    background-color: #f5f5f5;
}